@using OtomasyonProjesi.Models.Classlar
@model List<CargoTrack>
@{
    ViewBag.Title = "CustomerTracingCargo";
    Layout = "~/Views/Shared/_CustomerPanelLayout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Sıra No</th>
            <th>Açıklama</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @{ int sayi = 0;}
        @foreach (var item in Model)
        {
            
            <tr>
                @{ sayi++; }
                <td> @sayi </td>
                <td>@item.Description</td>
                <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>

