<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Formu</h3>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="CustomerName" Placeholder="Müşteri Adı" required="" />
                <input type="text" class="name" name="CustomerSurname" Placeholder="Müşteri Soyadı" required="" />
                <input type="text" class="name" name="CustomerCity" Placeholder="Şehir" required="" />
                <input type="text" class="name" name="CustomerMail" Placeholder="Mail" required="" />
                <input type="password" class="password" name="CustomerPassword" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum Kabul Ediyorum</label>
                </div>
                <input type="submit" value="Kaydol">
            </form>
        </div>
    </div>
</div>

